In [43]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
import seaborn as sns

In [2]:
data = pd.read_excel('ELE.xlsx', header=None)  
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,82.23,333.65,125.95,12231.27,1110.97,105069.63,263.66,77811.79,423.50,112743.19,823200.19,403.91,982.62,3955.22,19381.56,4324.97,125876.24
1,79.17,349.29,120.41,11977.18,1069.27,107210.46,261.29,69254.01,435.26,98112.25,705245.02,400.45,962.11,3946.92,17222.31,4262.06,111311.84
2,79.92,342.56,113.92,11712.42,997.68,108138.53,262.07,55266.32,422.36,84301.39,603368.98,392.59,944.62,3981.55,14876.55,4260.74,98425.38
3,75.83,299.48,163.12,11539.83,1003.56,110735.68,264.49,40753.72,419.72,75501.86,540643.37,383.81,928.89,3992.56,13453.31,4374.65,88527.77
4,78.72,268.19,119.30,11289.02,976.19,110619.01,262.18,54150.28,412.30,68409.14,499768.04,379.25,912.91,3941.43,12032.98,4357.31,81449.29

In [3]:
data_scaled = preprocessing.scale(data)
data = pd.DataFrame(data_scaled)
data.columns = ['col0', 'col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7', 'col8', 'col9', 'col10', 'col11', 'col12', 'col13', 'col14', 'col15', 'col16']
data.head()

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,col12,col13,col14,col15,col16
0,1.589902,1.767913,1.181182,-0.261505,-0.545621,-1.477161,1.100585,1.643671,-1.140567,1.633911,1.698156,-1.119292,1.505866,0.920273,1.705030,0.587150,0.819756
1,1.205638,2.179165,1.013453,-0.471455,-0.790797,-1.088177,1.007666,1.003397,-1.061635,0.852902,0.801972,-1.138869,0.969814,0.914513,0.967819,0.504454,0.300886
2,1.299820,2.002201,0.816961,-0.690220,-1.211711,-0.919548,1.038247,-0.043131,-1.148219,0.115668,0.027952,-1.183342,0.512693,0.938544,0.166930,0.502719,-0.158206
3,0.786213,0.869418,2.306543,-0.832828,-1.177139,-0.447652,1.133126,-1.128932,-1.165939,-0.354057,-0.448616,-1.233019,0.101572,0.946184,-0.318993,0.652456,-0.510818
4,1.149129,0.046651,0.979846,-1.040067,-1.338062,-0.468850,1.042560,-0.126631,-1.215741,-0.732671,-0.759173,-1.258820,-0.316084,0.910703,-0.803922,0.629662,-0.762996

In [4]:
data.describe()

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,col12,col13,col14,col15,col16
count,2.400000e+01,2.400000e+01,2.400000e+01,2.400000e+01,2.400000e+01,2.400000e+01,2.400000e+01,2.400000e+01,2.400000e+01,2.400000e+01,2.400000e+01,2.400000e+01,2.400000e+01,2.400000e+01,2.400000e+01,2.400000e+01,2.400000e+01
mean,6.221875e-16,8.511710e-16,-5.111652e-16,7.147061e-16,9.390636e-16,-5.181041e-16,-1.184238e-15,-2.960595e-16,-3.411623e-16,5.551115e-17,4.949744e-16,-4.348374e-16,8.234154e-16,-1.017704e-16,-3.885781e-16,1.202742e-16,-1.619075e-16
std,1.021508e+00,1.021508e+00,1.021508e+00,1.021508e+00,1.021508e+00,1.021508e+00,1.021508e+00,1.021508e+00,1.021508e+00,1.021508e+00,1.021508e+00,1.021508e+00,1.021508e+00,1.021508e+00,1.021508e+00,1.021508e+00,1.021508e+00
min,-1.719036e+00,-1.371431e+00,-2.642985e+00,-1.743802e+00,-1.609519e+00,-1.477161e+00,-1.216113e+00,-1.128932e+00,-1.865924e+00,-1.500107e+00,-1.277586e+00,-1.258820e+00,-1.457710e+00,-1.167851e+00,-1.192543e+00,-1.317090e+00,-1.027256e+00
25%,-7.966776e-01,-7.084714e-01,-4.416897e-01,-7.669715e-01,-8.741976e-01,-7.203212e-01,-1.041449e+00,-6.943974e-01,-1.142480e+00,-7.335006e-01,-6.998767e-01,-1.119335e+00,-8.069205e-01,-9.774247e-01,-5.984629e-01,-8.869988e-01,-6.334427e-01
50%,-5.891626e-02,-2.712535e-01,1.723842e-01,9.939320e-02,2.281226e-01,-3.532649e-01,-7.266226e-02,-2.898236e-01,4.044154e-01,-3.321481e-01,-2.952261e-01,-9.887467e-03,2.564608e-02,4.928955e-03,-4.131819e-01,-1.650446e-01,-3.725190e-01
75%,9.230912e-01,5.597958e-01,5.932970e-01,6.905324e-01,9.081910e-01,8.686344e-01,1.052067e+00,2.462306e-01,7.067202e-01,2.259999e-01,2.404547e-01,9.401581e-01,7.782361e-01,9.614543e-01,3.671523e-01,7.356548e-01,3.123819e-01
max,1.589902e+00,2.179165e+00,2.306543e+00,1.807086e+00,1.624507e+00,1.879333e+00,1.243296e+00,2.742056e+00,1.551113e+00,2.661845e+00,2.306264e+00,1.474364e+00,1.855306e+00,1.140507e+00,2.395573e+00,1.797179e+00,2.539698e+00

In [5]:
indexes = data[(data['col4'] >= -1.60) & (data['col4'] <= -1.19)].index

In [6]:
data.loc[(data['col4'] >= -1.61) & (data['col4'] <= -0.785), 'y'] = 0
data.loc[(data['col4'] > -0.785) & (data['col4'] <= 0.438), 'y'] = 1
data.loc[(data['col4'] > -0.03) & (data['col4'] <= 0.845), 'y'] = 2
data.loc[(data['col4'] > 0.845) & (data['col4'] <= 1.66), 'y'] = 3
data.head()

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,col12,col13,col14,col15,col16,y
0,1.589902,1.767913,1.181182,-0.261505,-0.545621,-1.477161,1.100585,1.643671,-1.140567,1.633911,1.698156,-1.119292,1.505866,0.920273,1.705030,0.587150,0.819756,1.0
1,1.205638,2.179165,1.013453,-0.471455,-0.790797,-1.088177,1.007666,1.003397,-1.061635,0.852902,0.801972,-1.138869,0.969814,0.914513,0.967819,0.504454,0.300886,0.0
2,1.299820,2.002201,0.816961,-0.690220,-1.211711,-0.919548,1.038247,-0.043131,-1.148219,0.115668,0.027952,-1.183342,0.512693,0.938544,0.166930,0.502719,-0.158206,0.0
3,0.786213,0.869418,2.306543,-0.832828,-1.177139,-0.447652,1.133126,-1.128932,-1.165939,-0.354057,-0.448616,-1.233019,0.101572,0.946184,-0.318993,0.652456,-0.510818,0.0
4,1.149129,0.046651,0.979846,-1.040067,-1.338062,-0.468850,1.042560,-0.126631,-1.215741,-0.732671,-0.759173,-1.258820,-0.316084,0.910703,-0.803922,0.629662,-0.762996,0.0

In [7]:
X = data.drop(['col4', 'y'], axis=1)
y = data['y'].astype(int) #Según el punto 6 es la variable más explicada por las demás

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0, stratify=y)

In [9]:
clf = RandomForestClassifier(max_depth=3, random_state=0)
clf.fit(X_train, y_train)
predicts = clf.predict(X_test)

In [44]:
print("Accuracy Test:",accuracy_score(y_test, predicts))

Accuracy Test: 0.75

In [46]:
predicts = clf.predict(X_train)
print("Accuracy Train:",accuracy_score(y_train, predicts))

Accuracy Train: 1.0

Se pueden borrar las siguientes variables:
- columna 4. 
- columna 6.
- columna 7.
- columna 14.
- columna 16.

In [48]:
X = data.drop(['col4', 'y','col4','col6','col7','col14', 'col16'], axis=1)
y = data['y'].astype(int) #Según el punto 6 es la variable más explicada por las demás

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0, stratify=y)

In [50]:
clf = RandomForestClassifier(max_depth=3, random_state=0)
clf.fit(X_train, y_train)
predicts = clf.predict(X_test)

In [51]:
print("Accuracy Test:",metrics.accuracy_score(y_test, predicts))

Accuracy Test: 0.75

In [52]:
predicts = clf.predict(X_train)
print("Accuracy Train:",accuracy_score(y_train, predicts))

Accuracy Train: 1.0